<div>
  <div class="title-page">
    <mat-icon>equalizer</mat-icon>
    <h1>RANKING</h1>
    <mat-icon>equalizer</mat-icon>
  </div>

  <div class="select-tipo-ranking">
    <div
      [ngClass]="{'disabled': !porVotacao}" [ngStyle]="{'background-color': !porVotacao ? 'gray' : 'white'}"
      (click)="mudarTipoRanking()" class="item-select-tipo-ranking shadow">
      <mat-icon>check_circle</mat-icon>
      <span>Por votação</span>
    </div>
    <div
      [ngClass]="{'disabled': porVotacao}" [ngStyle]="{'background-color': porVotacao ? 'gray' : 'white'}"
      (click)="mudarTipoRanking()"  class="item-select-tipo-ranking shadow">
      <mat-icon>star_half</mat-icon>
      <span>Por avaliação</span>
    </div>
  </div>
  <div style="background-color: white; height: 300px; width: 300px">teste</div>
</div>
