<header class="title-page">
  <mat-icon>equalizer</mat-icon>
  <h1>Ranking de tecnologias da programação</h1>
  <mat-icon>equalizer</mat-icon>
</header>

<div>
  <section class="select-tipo-ranking">
    <div
      [ngClass]="{'disabled': !porVotacao}" [ngStyle]="{'background-color': !porVotacao ? 'gray' : 'white'}"
      (click)="mudarTipoRanking()" class="item-select-tipo-ranking">
      <mat-icon>check_circle</mat-icon>
      <span>Por votação</span>
    </div>
    <div
      [ngClass]="{'disabled': porVotacao}" [ngStyle]="{'background-color': porVotacao ? 'gray' : 'white'}"
      (click)="mudarTipoRanking()" class="item-select-tipo-ranking">
      <mat-icon>star_half</mat-icon>
      <span>Por avaliação</span>
    </div>
  </section>
  <section class="cards-topicos" *ngIf="porVotacao">
    <div *ngFor="let item of listaTopicosPorVotacao">
      <div class="card-por-votacao" (click)="visualizarRank(item.id)">
        <div class="item-card">
          <span class="item-card-title limited-text" matTooltip="{{item.titulo}}">{{ item.titulo }}</span>
        </div>
        <div class="item-card">
          <div class="row" style="width: 100%">
            <div class="col-4">
              <div class="item-center-card">
                <img class="medalha" src="assets/img-icons/medalha-primeiro-lugar.png" alt="Medalha de primeiro lugar">
                <div class="name-item-center-card">
                  <img class="icon-tecnologia" [src]="item.iconPrimeiroLugar" alt="Tecnologia primeiro lugar">
                  <span>{{ item.primeiroLugar }}</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="item-center-card">
                <img class="medalha" src="assets/img-icons/medalha-segundo-lugar.png" alt="Medalha de segundo lugar">
                <div class="name-item-center-card">
                  <img class="icon-tecnologia" [src]="item.iconSegundoLugar" alt="Tecnologia segundo lugar">
                  <span>{{ item.segundoLugar }}</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="item-center-card">
                <img class="medalha" src="assets/img-icons/medalha-terceiro-lugar.png" alt="Medalha de terceiro lugar">
                <div class="name-item-center-card">
                  <img class="icon-tecnologia" [src]="item.iconTerceiroLugar" alt="Tecnologia terceiro lugar">
                  <span>{{ item.terceiroLugar }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-card">
          <div class="row-totalizadores">
            <mat-icon>check_circle</mat-icon>
            <span>{{ item.qtdVotos }} votos</span>
          </div>
          <div class="row-totalizadores">
            <mat-icon>message</mat-icon>
            <span>{{ item.qtdComentarios }} comentários</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards-topicos" *ngIf="!porVotacao">
    <div *ngFor="let item of listaExemplo">
      <div  class="card-por-avaliacao" (click)="visualizarRank(item.id)">
        <div class="item-card">
          <span class="item-card-title limited-text" matTooltip="{{item.titulo}}">{{ item.titulo }}</span>
        </div>
        <div class="item-card">
          <div class="item-center-card">
            <img class="medalha" src="assets/img-icons/medalha-primeiro-lugar.png" alt="Medalha de primeiro lugar">
            <div class="name-item-center-card">
              <i [ngClass]="['fas', 'fa-' + item.iconPrimeiroLugar]"></i>
              <span>{{ item.primeiroLugar }}</span>
              <div class="estrelas">
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star_half</mat-icon>
              </div>
              <p class="avaliacao">4,8</p>
            </div>
          </div>
          <div class="item-center-card">
            <img class="medalha" src="assets/img-icons/medalha-segundo-lugar.png" alt="Medalha de segundo lugar">
            <div class="name-item-center-card">
              <i [ngClass]="['fas', 'fa-' + item.iconSegundoLugar]"></i>
              <span>{{ item.segundoLugar }}</span>
              <div class="estrelas">
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star_half</mat-icon>
              </div>
              <p class="avaliacao">4,5</p>
            </div>
          </div>
          <div class="item-center-card">
            <img class="medalha" src="assets/img-icons/medalha-terceiro-lugar.png" alt="Medalha de terceiro lugar">
            <div class="name-item-center-card">
              <i [ngClass]="['fas', 'fa-' + item.iconTerceiroLugar]"></i>
              <span>{{ item.terceiroLugar }}</span>
              <div class="estrelas">
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star</mat-icon>
                <mat-icon class="custom-icon-size">star_half</mat-icon>
              </div>
              <p class="avaliacao">4,3</p>
            </div>
          </div>
        </div>
        <div class="item-card">
          <div class="row-totalizadores">
            <mat-icon>check_circle</mat-icon>
            <span>{{ item.qtdVotos }} avaliações</span>
          </div>
          <div class="row-totalizadores">
            <mat-icon>message</mat-icon>
            <span>{{ item.qtdComentarios }} comentários</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="div-fab-button" [matTooltip]="user ? 'Criar um Ranking/Tópico' : 'Faça Login ou Cadastro para realizar essa ação'">
  <button [disabled]="!user" mat-fab class="fab-button" (click)="criarNovoTopico()">
    <mat-icon>add</mat-icon>
  </button>
</div>



