.title-page {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-page h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.title-page mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

.select-tipo-ranking {
  display: flex;
  align-items: center;
  justify-content: center;
}


.item-select-tipo-ranking {
  margin: 0 40px 0 40px;
  padding: 8px 14px 8px 14px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-select-tipo-ranking:hover {
  box-shadow: 0 0.5rem 1rem rgb(38, 38, 38);
}

.item-select-tipo-ranking mat-icon {
  margin-right: 8px;
}

.item-select-tipo-ranking span {
  font-weight: bold;
  font-size: 20px;
}

.disabled {
  opacity: 0.5;
}

.cards-topicos {
  width: 100%;
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.medalha {
  height: 50px;
  width: 50px;
}

.card-por-votacao{
  padding: 0 15px 0 15px;
  border-radius: 7px;
  margin-bottom: 25px;
  height: 100px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.6s;
}

.card-por-votacao:hover {
  box-shadow: 0 0.5rem 1rem rgb(38, 38, 38);
}

.card-por-avaliacao {
  padding: 0 15px 0 15px;
  border-radius: 7px;
  margin-bottom: 25px;
  height: 130px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.6s;
}

.card-por-avaliacao:hover {
  box-shadow: 0 0.5rem 1rem rgb(38, 38, 38);
}

.item-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-card:nth-child(1n) {
  width: 27%;
}

.item-card-title {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.item-card:nth-child(2n) {
  width:56%;
  justify-content: space-around;
}

.item-center-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-item-center-card {
  margin-left: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name-item-center-card span{
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
}

.item-card:nth-child(3n) {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  width: 17%;
}

.row-totalizadores {
  display: flex;
  margin: 5px 0 5px 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.row-totalizadores span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
}

.limited-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-icon-size {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.estrelas {
  margin: 0;
  line-height: 0;
  padding: 0;
}

.avaliacao {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
}

.icon-tecnologia {
  width: 45px;
  height: 45px;
}

.text-classificacao {
  font-size: 30px;
  font-weight: bold;
}
