

.title-page {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {

    font-size: 40px;
    font-weight: bold;
    margin: 0 10px 0 10px;
  }

  mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
  }
}

.select-tipo-ranking {
  display: flex;
  align-items: center;
  justify-content: center;

  .item-select-tipo-ranking {
    margin: 0 40px 0 40px;
    padding: 8px 14px 8px 14px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 10px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    mat-icon {
      margin-right: 8px;
    }

    span {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .disabled {
    opacity: 0.5;
  }
}

.cards-topicos {
  width: 100%;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .medalha {
    height: 50px;
    width: 50px;
  }

  .card-por-votacao{
    padding: 0 15px 0 15px;
    border-radius: 7px;
    margin-bottom: 25px;
    height: 100px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    .item-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .item-card:nth-child(1n) {
      width: 27%;
    }

    .item-card:nth-child(2n) {
      width:65%;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
          margin-left: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }

    .item-card:nth-child(3n) {
      width: 8%;
    }

  }
}
