<div id="app">

  <mat-toolbar>
    <div class="content-toolbar">
      <button mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
      </button>

      <ng-container *ngIf="isLoggedIn || booleanValue">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Minha conta</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn && !booleanValue">
        <button mat-raised-button (click)="login()">
          Acessar ou criar conta
        </button>
      </ng-container>
      <!--      <button mat-icon-button class="example-icon">-->
      <!--        <mat-icon>account_circle</mat-icon>-->
      <!--      </button>-->
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
