.ranking-especifico {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-page {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-page h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

.title-page mat-icon {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

table {
  min-width: 80%;
  width: 80%;
}

.btn-votacao {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-votacao button {
  background-color: #00126c;
  color: white;
}

.btn-votacao button:hover {
  background-color: #001a9d;
  box-shadow: 0 0.5rem 1rem rgb(38, 38, 38);
}

.btn-votacao button:disabled {
  background-color: #777777 !important;
  color: #ffffff !important;
  opacity: 1 !important;
}


.comentarios {
  width: 80%;
  margin-top: 20px;
  min-height: 500px;
}

.row-totalizadores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-totalizadores span {
  font-weight: bold;
}

.card-comentarios {
  width: 100%;
  margin-top: 15px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

.btn-comentario {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.btn-comentario button {
  background-color: black;
  color: white;
}

.comentario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 12px 12px;
}

.info-ususario {
  background-color: #1f1f1f;
  color: white;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 12px 12px 12px;
  border-radius: 10px;
}

.texto-do-comentario {
  width: 80%;
  padding-left: 16px;
}

.icon-tecnologia {
  width: 35px;
  height: 35px;
}
