<div class="ranking-especifico">
  <header class="title-page">
    <mat-icon>equalizer</mat-icon>
    <h1>{{ topicoInfo.topico?.nome }}</h1>
    <mat-icon>equalizer</mat-icon>
  </header>
  <ng-container *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="posicao">
        <th mat-header-cell style="width: 10%; text-align: center" *matHeaderCellDef>Posição</th>
        <td mat-cell style="width: 10%; text-align: center" *matCellDef="let element"> {{ element.posicao }}º</td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell style="width: 10%; text-align: center" *matHeaderCellDef>Ícone</th>
        <td mat-cell style="width: 10%; text-align: center" *matCellDef="let element">
          <img class="icon-tecnologia"
               [src]="element.icon ? 'assets/img-icons/' + element.icon : 'assets/img-icons/code.svg'" alt="icon">
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell style="width: 25%; text-align: center" *matHeaderCellDef>Nome</th>
        <td mat-cell style="width: 25%; text-align: center" *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="qtdVotos">
        <th mat-header-cell style="width: 10%; text-align: center" *matHeaderCellDef> Votos</th>
        <td mat-cell style="width: 10%; text-align: center" *matCellDef="let element">{{ element.qtdVotos }}</td>
      </ng-container>

      <ng-container matColumnDef="porcentagem">
        <th mat-header-cell style="width: 15%; text-align: center" *matHeaderCellDef>Porcentagem</th>
        <td mat-cell style="width: 15%; text-align: center" *matCellDef="let element">{{ element.porcentagem }}</td>
      </ng-container>

      <ng-container matColumnDef="comentarioAFavor">
        <th mat-header-cell style="width: 15%; text-align: center" *matHeaderCellDef>Comentários a favor</th>
        <td mat-cell style="width: 15%; text-align: center" *matCellDef="let element">{{ element.comentarioAFavor }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comentarioContra">
        <th mat-header-cell style="width: 15%; text-align: center" *matHeaderCellDef>Comentários contra</th>
        <td mat-cell style="width: 15%; text-align: center" *matCellDef="let element">{{ element.comentarioContra }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  <div class="btn-votacao">
    <div [matTooltip]="!user ? 'Faça Login ou Cadastro para realizar essa ação' : ''">
      <button [disabled]="!user" mat-raised-button (click)="votacao(id)">Participar da votação</button>
    </div>
  </div>
  <div class="comentarios">
    <div class="row-totalizadores">
      <span>Comentários Totais: {{listComentarios.length}}</span>
      <span>Comentários Comuns: {{qtdComentariosComuns}}</span>
      <span>Comentários Positivos: {{qtdComentariosPositivos}}</span>
      <span>Comentários Negativos: {{qtdComentariosNegativos}}</span>
    </div>
    <div class="card-comentarios">
      <div class="btn-comentario" [matTooltip]="!user ? 'Faça Login ou Cadastro para realizar essa ação' : ''">
        <button [disabled]="!user" mat-raised-button (click)="adicionarComentario()">Adicionar comentário</button>
      </div>
      <div class="card-criacao-comentario" *ngIf="adicionandoComentario">
        <form [formGroup]="formComentario">
          <div class="row centralizar">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4" style="margin-right: 20px">
                  <label for="select-tipo" class="form-label">Selecione o tipo de comentário:</label>
                  <select id="select-tipo" class="form-select" formControlName="tipoDeComentario">
                    <option value="Comum">Comum</option>
                    <option value="Positivo">Positivo</option>
                    <option value="Negativo">Negativo</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <ng-container *ngIf="formComentario.get('tipoDeComentario')?.value !== 'Comum'">
                    <label for="select-tecnologia" class="form-label">Selecione a tecnologia:</label>
                    <select id="select-tecnologia" class="form-select" formControlName="tecnologia">
                      <ng-container *ngFor="let tecnologia of listTecnologias">
                        <option [value]="tecnologia.id">{{ tecnologia.nome }}</option>
                      </ng-container>
                    </select>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row centralizar" style="margin-top: 20px">
            <div class="col-md-10">
              <div class="form-group">
                <label for="comentario">Comentário</label>
                <textarea class="form-control" id="comentario" rows="5" formControlName="comentario" maxlength="4000"></textarea>
              </div>
            </div>
          </div>
          <div class="btns-actions">
            <button (click)="cancelarComentario()" class="btn-cancelar" mat-raised-button>Cancelar</button>
            <button class="btn-comentar" (click)="salvarComentario()" mat-raised-button>Salvar comentário</button>
          </div>
        </form>
      </div>
      <ng-container *ngFor="let comentario of listComentarios">
        <div class="comentario">
          <div class="info-ususario">
            <span style="margin-bottom: 4px">{{ comentario.usuario.apelido }}</span>
            <span style="margin-bottom: 4px; color: #0080ff">@{{ comentario.usuario.username }}</span>
            <span style="margin-bottom: 4px">Comentário {{ comentario.tipoDeComentario }}</span>
            <span *ngIf="comentario.tecnologias" style="margin-bottom: 4px">Tecnologia: {{ comentario.tecnologias.nome }}</span>
            <span>Data: {{ comentario.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</span>
          </div>
          <div class="texto-do-comentario">
            <pre>{{ comentario.comentario }}</pre>
          </div>
        </div>
        <hr>
      </ng-container>
      <div *ngIf="listComentarios.length < 1" class="centralizar">
        <span>Nenhum comentário foi adicionado nesse tópico/ranking.</span>
      </div>
    </div>
  </div>

</div>

