<div class="content-cadastro">
  <div class="two-divs">
    <h1 class="titulo">Bem-vindo ao</h1>
    <h1 class="titulo">Ranking de</h1>
    <h1 class="titulo">Tecnologias</h1>
    <h1 class="titulo">da Programação</h1>
  </div>
  <div class="two-divs">
  <div class="card card-container">
    <div class="icon-title centralizar">
      <mat-icon>equalizer</mat-icon>
    </div>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Nome de usuário (Username)</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          pattern="^[a-z0-9._]*$"
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']">Nome de usuário é obrigatório</div>
          <div *ngIf="username.errors['minlength']">
            O nome de usuário deve ter pelo menos 3 caracteres
          </div>
          <div *ngIf="username.errors['maxlength']">
            O nome de usuário deve ter no máximo 20 caracteres
          </div>
          <div *ngIf="username.errors['pattern']">
            O nome de usuário só pode conter letras minúsculas, números, pontos '.' e sublinhados/underline '_'
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="apelido">Nome ou Apelido</label>
        <input
          id="apelido"
          type="text"
          class="form-control"
          name="apelido"
          [(ngModel)]="form.apelido"
          required
          maxlength="50"
          #apelido="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apelido.errors }"
        />
        <div class="invalid-feedback" *ngIf="apelido.errors && f.submitted">
          <div *ngIf="apelido.errors['required']">Nome ou Apelido é obrigatório</div>
          <div *ngIf="apelido.errors['maxlength']">
            O nome ou apelido deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">E-mail é obrigatório</div>
          <div *ngIf="email.errors['email']">
            O e-mail deve ser um endereço de e-mail válido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Senha é necessária</div>
          <div *ngIf="password.errors['minlength']">
            A senha deve ter pelo menos 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 10px">
        <button class="btn btn-primary btn-block" style="width: 100%">Registrar</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Falha no cadastro!<br />{{ errorMessage }}
      </div>
    </form>




    <div class="alert alert-success" *ngIf="isSuccessful">
      Seu usuário foi criado com sucesso!
    </div>

  </div>
  </div>
</div>


