<div class="content-login">
  <div class="two-divs">
    <h1 class="titulo">Bem-vindo ao</h1>
    <h1 class="titulo">Ranking de</h1>
    <h1 class="titulo">Tecnologias</h1>
    <h1 class="titulo">da Programação</h1>
  </div>
  <div class="two-divs">
    <div class="card card-container">
      <div class="icon-title centralizar">
        <mat-icon>equalizer</mat-icon>
      </div>
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Login (Nome de Usuário/Username)</label>
          <input
            type="text"

            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Seu login(nome/username) é obrigatório
          </div>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">A senha é necessária</div>
            <div *ngIf="password.errors['minlength']">
              A senha deve ter pelo menos 6 caracteres
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 15px">
          <button (click)="login()" class="btn btn-primary btn-block btn-entrar">
            Entrar
          </button>
        </div>
        <div class="form-group">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Falha no login: {{ errorMessage }}
          </div>
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
      <span>
      Você já está logado
        </span>
        <hr>
        <button (click)="login()" style="width: 100%" class="btn btn-primary btn-block">
          Acessar Tela principal
        </button>
        <hr>
        <button (click)="logout()" style="width: 100%" class="btn btn-danger btn-block">
          Sair
        </button>
      </div>
    </div>
  </div>

</div>
